@page
@model HesabfaAPISampleCode.Pages.OtherMethods.SettingGetBanksModel

@using HesabfaAPISampleCode.Models

@{
    ViewData["Title"] = "دریافت لیست بانک ها";
}

@{
    ResultItems resultItems = new ResultItems();
    <h4>@resultItems</h4>
    <div>
        <p>Id: @resultItems.Id</p>
        <p>Code: @resultItems.Code</p>
        <p>Account Number: @resultItems.AccountNumber</p>
        <p>Name: @resultItems.Name</p>
        <p>Branch: @resultItems.Branch</p>
        <p>Currency: @resultItems.Currency</p>
    </div>
}
